/* Highlighted Content */
.stky-highlight {
    background-color: #00b938c9;
    position: relative;
    overflow: visible;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    color: white;
}

.stky-highlight:hover {
    background-color: #008f2bc9;
}

/* Container */
.stky-container {
    box-sizing: border-box;
    z-index: 99;
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
    height: 200px;
    background-color: #b9fcb3;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    transition: width 0.2s ease, height 0.2s ease, box-shadow 0.2s ease;
    /* transition: all 0.3s; */
    display: flex;
    padding: 10px;
}

.stky-container:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Content Area */
.stky-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 0.5rem;
    padding: 10px;
    transition: all 0.3s;
}

/* Notes */
textarea.stky-note {
    all: unset;
    font-family: 'Reenie Beanie', cursive;
    background-color: #b9fcb3 !important;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    flex: 1;
    color: #474747;
    border: none;
    line-height: 1.5;
    resize: none;
    outline: transparent;
    width: auto;
}

textarea:focus.stky-note{
    box-shadow: none;
}

/* Interactive Ball */
.stky-ball {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #b9fcb3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    transition: width 0.2s ease, height 0.2s ease, transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.stky-ball:hover {
    transform: scale(1.1);
}

.stky-ball:active {
    transform: scale(0.9);
}


/* Operations Container */
.stky-operations {
    display: flex;
    column-gap: 0.3rem;
    justify-content: space-around;
    align-items: center;
}

/* Button */
.stky-button {
    all: unset;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #6D6D6D;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}


.stky-button::before {
    content: '';
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.stky-button:hover {
    background-color: #424242;
    transform: scale(1.1);
}

.stky-button:active {
    background-color: #212121;
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.stky-button[data-icon="shrink"]::before {
    background-image: url('/assets/shrink.png');
}

.stky-button[data-icon="delete"]::before {
    background-image: url('/assets/delete.png');
}

/* Hidden Elements */
.hidden {
    display: none;
}